<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="sylesheet" href="/styles.css">
    <title>CARS LIST</title>
</head>
<body>
    <h1>CARS LIST</h1>
    <ul>
        <% cars.ForEach(car => { %>
            <li><strong><%= car.name %></strong> - <%= car.model %> - <%= car.year %></li>
        <% }) %>
    </ul>
    <a href="/">Main Page</a>
</body>
</html>