<!DOCTYPE html>
<html>
<head><title>Car Details</title></head>
<body>
  <h1><%= car.name %> Details</h1>
  <p>Model: <%= car.model %></p>
  <p>Year: <%= car.year %></p>
  <a href="/cars/<%= car._id %>/edit">Edit</a> |
  <a href="/cars">Back</a>
</body>
</html>
