<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles.css" />
  <title>Add Car</title>
</head>
<body>
  <h1>Add New Car</h1>
  <form action="/add-car" method="POST">
    <input type="text" name="name" placeholder="car name" required />
    <input type="text" name="model" placeholder="car model" required />
    <input type="number" name="year" placeholder="Year of manufacture" />
    <button type="submit">ADD</button>
  </form>
  <a href="/">Main Page</a>
</body>
</html>
