<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cars App</title>
</head>
<body>
    <h1>Welcome to the Cars app!</h1>
    <img
      src="pic/cars1.jpg"  
      alt="showroom icons"
      class="car-image"   
    />  
    <p>An app for collecting your favorite cars.</p>
</body>
<footer>
  Icons by <a href="https://www.flaticon.com/free-icons/sell" target="_blank" rel="noopener noreferrer">Flaticon</a>
</footer>
</html>
